<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [formControl]="nameControl">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput [formControl]="surnameControl">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Number</mat-label>
        <input matInput [formControl]="phoneNumberControl">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button class="mat-raised-button mat-primary"(click)="save()" [disabled]="!form.valid">Save</button>
    <button mat-button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>
